<ng-container class="mat-elevation-z4">
  <div class="cards-container">
    <div *ngFor="let noticia of noticias">
      <div class="mdc-card">
        <div class="mdc-card__primary-action">
          <div class="mdc-card__supporting-text">
            <h2 class="mdc-card__title mdc-card__title--large">
              {{noticia.title}}
            </h2>
            <p class="mdc-card__text">
              {{noticia.description}}
            </p>
          </div>
        </div>
        <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
            <a routerLink="/noticias/alterar/{{ noticia.id }}" class="edit">
              <i class="material-icons">
                edit
              </i>
            </a>
            <a (click)="openDialog(noticia.id!)" class="delete">
              <i class="material-icons">
                delete
              </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>